// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

*
  box-sizing: border-box

body
  font-family: 'Helvetica', 'Arial', sans-serif;
  background: url("../images/lt.png") repeat;

#home-view
  width: 900px
  margin: 0 auto

#box
  background: rgba(250,250,250, .7)
  border: 4px solid #fff
  box-shadow: 0px 0px 20px rgba(0,0,0,.3), inset 0px 0px 10px rgba(0,0,0,.1)
  border-radius: 4px
  margin-bottom: 50px
  padding: 33px

#navigation
  width: 200px
  height: 28px
  margin: 0 auto
  box-shadow: 0px 1px 0px rgba(255,255,255,0.6)
  border-radius: 3px
  margin-bottom: 20px
  margin-top: -10px
  
#navigation .button
  width: 100px
  height: 28px
  float: left
  text-align: center
  margin: 0
  padding: 4px 5px
  background: linear-gradient(top, #fff, #ddd)
  border-radius: 3px
  box-sizing: border-box
  border: 1px solid rgba(0,0,0,.2)
  cursor: pointer
  font-size: 13px
  color: #0a283f
  font-weight: bold
  text-shadow: 0px 1px 0px white
  
#navigation .button:first-child
  border-top-right-radius: 0px
  border-bottom-right-radius: 0px
  
#navigation .button:first-child.pressed
  border-right: none
  
#navigation .button:last-child
  border-top-left-radius: 0px
  border-bottom-left-radius: 0px
  
#navigation .button:last-child.pressed
  border-left: none
  
#navigation .button.pressed
  background: none
  font-weight: normal
  color: #666
  text-shadow: none
  box-shadow: inset 0px 1px 2px rgba(0,0,0,.1)
  
#navigation .button:hover:not(.pressed)
  background: linear-gradient(top, #fff, #eee)

#console
  display: none
  
#preview
  width: 100%
  
#preview #camera
  margin: 0 auto
  width: 320px
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;

.help
  padding-top: 16px
  border-top: 1px solid #bbb
  
.help.first
  padding-top: 0px
  border-top: none
  border-bottom: 1px solid #bbb

.help p
  font-size: 15px
  margin-top: 0px
  margin-bottom: 16px
  color: rgb(51, 51, 51);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .8);

h1
  font-family: 'Montserrat Alternates'
  color: #0a283f;
  font-size: 42px
  text-align: center
  text-shadow: 0px 2px 0px rgba(255,255,255,.7)
  margin: 0;
  margin-top: 30px;

h2
  font-family: 'Montserrat Alternates'
  color: #0a283f;
  font-size: 20px
  text-align: center
  text-shadow: 0px 2px 0px rgba(255,255,255,.6)
  margin-top: -5px
  font-weight: normal
  
.demo
  width: 100%
  margin-top: 16px
  margin-bottom: 25px;
  background: rgba(0,0,0,.1)
  border-radius: 3px
  padding: 7px
  box-sizing: border-box
  border: 1px solid rgba(0,0,0,.2)
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.10)
  
.demo .preview canvas
  border-radius: 2px;
  
.demo .preview, .demo .code
  display: inline-block
  vertical-align: top

.demo .preview
  width: 320px
  height: 240px
  
.demo .code form textarea
  height: 240px
  width: 475px
  
.demo:last-child
  margin-bottom: 3px
  
.cvImage
  display: inline-block
  position: relative
  
.cvImage canvas
  position: absolute
  top: 0px;
  left: 0px;